.navbar{
    padding: 5 15px;
    width: 100%;
    background-color: rgb(199, 178, 137);
    height: 60px;
    border-bottom: 1px solid black;
    box-sizing:  border-box;
    display: flex;
    align-items: center;
}
.homelogo{
    font-size: 200%;
}
.search-bar-container {
    padding-top: 0.5rem;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
  }